:root {
    --dark: rgb(0, 0, 57);
    --light: rgb(253, 237, 220);
    --turqoise: rgb(64,224,208);
    --dark-turquoise: rgb(0,206,209);
    --hot-pink: rgb(255, 16, 240);
    --navy-blue: rgb(0, 0, 128);
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--light);
    background-color: var(--dark);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 { 
    font-size: 1.5rem;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: left;
    position: absolute;
    top: -25px;
    max-width: 500px;
    z-index: 1;
}

nav {
    padding: 2.5rem;
    text-align: right;
    position: relative;
    top 2.5rem;
    right: 0;
    text-size-adjust: 60%;
    background-color: var(--navy-blue);
}

li {
    margin-left: 2rem;
    display: inline;
}

a:link {
    color: var(--light);
}

a:visited {
    color: var(--light);
}

a:link, a:visited {
    text-decoration: none;
}

.article-about #about_me {
    display:flex;
    flex-direction: column;
    max-width: 640px;
    font-family: arial, helvetica, sans-serif;
}

.article-about #about_me li {
    margin-bottom: 2rem;
}

@media only screen and (max-width:600px) {
    body {
        max-width: 100%;
        display: block;
    }

    header {
        position: relative;
        background-color: var(--navy-blue);
    }
   
}